.background-block {
  margin-top: 40vh;
  background-color: cadetblue;
  padding: 60vh;
  right: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.type-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 50px;
  width: 100%;  
}

.type-card {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 20px 20px;
  margin-bottom: 20px;
  width: 400px;
  background: white;
  box-shadow: 1px 10px 6px 1px rgba(42, 40, 40, 0.2), 0px 1px 1px 0px rgba(229, 217, 217, 0.14), 0px 1px 3px 0px rgba(19, 1, 1, 0.12)
}

.field-label {
  font-weight: bold;
  margin-bottom: 20px;
}

.type-form {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0px 20px 20px;
  margin-bottom: 20px;
  width: 400px;
  background-color: white;
  box-shadow: 1px 10px 6px 1px rgba(42, 40, 40, 0.2), 0px 1px 1px 0px rgba(229, 217, 217, 0.14), 0px 1px 3px 0px rgba(19, 1, 1, 0.12)
}

.form-row {
  display: flex;
  margin-bottom: 20px;
}

.form-row > label {
  flex: 1
}

.form-row > input {
  flex: 4;
}

.form-row > textarea {
  flex: 4;
}

button {
  margin-right: 10px;
  margin-bottom: 25px;
}

.white {
  color: white
}

.card-id {
  margin: 10px 0px;
}

.entry-field {
  margin-bottom: 5px;
}

.title {
  margin-bottom: 0px;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 0px;
}